    <div class="container login-content">
<h2>Signup</h2>

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
          <label for="name">What's your name?</label>
          <input class="form-control" name="name" type="text"/>
          <label for="email">What's your email?</label>
          <input class="form-control" name="email" type="text"/>
          <label for="password">Choose a Password</label>
          <input class="form-control" name="password" type="password"/>
          </br>
        <button id="submitSignup" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->