    <div class="container login-content">
    <div class="row">
    <div class="col-md-6 col-md-offset-3 ">

      <form class="form-signin">
        <h2 class="form-signin-heading">Login</h2></br>
		  <label for="email">Username:</label>
		  <input class="form-control" name="email" type="text"/>
		  <label for="password">Password:</label>
		  <input class="form-control" name="password" type="password"/>
          </br>
        <button id="submitLogin" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
      </div>
      </div>

    </div> <!-- /container -->