<header id="info" class="">

	<div class="info-topmenu">
		<a href="/login">Login</a> | <a href="/signup">Signup</a>
	</div>

	<div class="container">
		<div class="row info-content">
		<div class="col-md-6">

			<div class="info-text">
				<h1>Yövuoro.fi</h1><span>UG meno, kova meno</span>
			</div>

			<div class="info-buttons">
			</div>
			</div>

			<div class="col-md-6">
			<img src="http://placehold.it/350x150">

			</div>

		</div>

	</div>
</header>


<div class="row">

<div class="col-md-3">
j
</div>
<div class="col-md-3">

k
</div>
<div class="col-md-3">
l
</div>
<div class="col-md-3">
o
</div>
</div>



